.springBeans
*.ear
.project
.classpath
*.iml
*.iws
*.ipr
*versionsBackup
*/*versionsBackup

*/.settings/
*/.idea/
*/.gradle/
*/.svn/
*/target/
*/build/
*/bin/

.settings/
.idea/
.gradle/
.svn/
target/
build/
bin/
classes/
.data
.dist/
DummyTest
speex-1.2.0/
.DS_Store
*.o
*.gch